<div class="container mt-5">
  <div class="jumbotron">
    <h2 class="text-danger">Angular Nested Class In Typescript</h2>
    <hr>
    <p><b>firstName:</b> {{ datas.user.firstName | json}}</p>
    <p><b>lastName:</b> {{ datas.user.lastName | json}}</p>
    <p><b>cardID:</b> {{ datas.card.cardID | json}}</p>
    <hr>
    <p><b>user:</b> {{ datas.user | json}}</p>
    <p><b>card:</b> {{ datas.card | json}}</p>
    <p><b>address: </b>{{ datas.address | json}}</p>
    <p><b>userDto: </b>{{ datas | json}}</p>
  </div>
</div>
